.navbar-brand {
	padding-top: 12px;
}

.panel-default {
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.container-paid {
	background-color: rgb(59, 196, 21);
	border-radius: 3px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	font: bolder;
}