<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Register a bill</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="SmartGroup" src="/images/smartgroup-logo.png" />
				</a>
			</div>
		</div>
	</nav>
	
	<div class="container-paid">
		PAID
	</div>
	
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>