<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Bill's Search</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="SmartGroup" src="/images/smartgroup-logo.png" />
				</a>
			</div>
		</div>
	</nav>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Bill's Search</h1>
		</div>
		
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Description</th>
						<th class="text-center col-md-2">Due Date</th>
						<th class="text-right col-md-2">Value</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="6">No bills was found</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>	
</body>
</html>