<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{StandardLayout}">
<head>
	<title>Bill's Search</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css.map}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<section layout:fragment="content">
	<div th:replace="GeneralMessage"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-bill-panel">Bill's Search</h1>
				<a class="btn btn-link sg-link-panel" th:href="@{/bills/new}">New Bill</a>
			</div>
		</div>
		
		<div class="panel-body">
		
			<form method="GET" class="form-horizontal" th:action="@{/bills}" th:object="${filter}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Which bill are you looking for?" 
								autofocus="autofocus" th:field="*{description}"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Description</th>
						<th class="text-center col-md-2">Due Date</th>
						<th class="text-right col-md-2">Value</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bill : ${bills}">
						<td class="text-center" th:text="${bill.id}">1</td>
						<td th:text="${bill.description}"></td>
						<td class="text-center" th:text="${{bill.dueDate}}"></td>
						<td class="text-right" th:text="|£ ${{bill.value}}|"></td>
						<td class="text-center" th:attr="data-role=${bill.id}">
	   						<span class="label" th:text="${bill.status?.description}"
	   							th:classappend="${bill.pending ? 'label-danger' : 'label-success'}"></span>
	   						
	   					</td>
	   					<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/bills/{id}(id=${bill.id})}"
								title="Edit" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#deleteConfirmationModal"
								th:attr="data-id=${bill.id}, data-description=${bill.description}"
								title="Delete" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
							
							<a class="btn btn-link btn-xs js-update-status" th:if="${bill.pending}"
								title="Receive" rel="tooltip" data-placement="top"
								th:attr="data-id=${bill.id}"
								th:href="@{/bills/{id}/receive(id=${bill.id})}">
								<span class="glyphicon glyphicon-check"></span>
							</a>

						</td>
					</tr>
				
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(bills)}">No bills was found</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div th:replace="DeletePopUp"></div>
		
	</div>
</section>
</html>