<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{StandardLayout}">
<head>
	<title>Bill's Search</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<section layout:fragment="content">
	<div th:replace="GeneralMessage"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-bill-panel">Bill's Search</h1>
				<a class="btn btn-link sg-link-panel" href="/bills/new">New Bill</a>
			</div>
		</div>
		
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Description</th>
						<th class="text-center col-md-2">Due Date</th>
						<th class="text-right col-md-2">Value</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bill : ${bills}">
						<td class="text-center" th:text="${bill.id}">1</td>
						<td th:text="${bill.description}"></td>
						<td class="text-center" th:text="${{bill.dueDate}}"></td>
						<td class="text-right" th:text="|£ ${{bill.value}}|"></td>
						<td class="text-center">
	   						<span class="label" th:text="${bill.status?.description}"
	   							th:classappend="${bill.pending ? 'label-danger' : 'label-success'}"></span>
	   						
	   					</td>
	   					<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/bills/{id}(id=${bill.id})}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#deleteConfirmationModal"
								th:attr="data-id=${bill.id}, data-description=${bill.description}">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
				
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(bills)}">No bills was found</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div th:replace="DeletePopUp"></div>
		
	</div>
</section>
</html>